allow dpmd vendor_file:file { read };
allow dpmd vendor_file:file { open };
allow dpmd vendor_file:file { getattr };
allow dpmd vendor_file:file { execute };
