allow rfs_access self:capability dac_override;
allow rfs_access unlabeled:file {setattr getattr};

allow rfs_access vfat:dir search;
allow rfs_access vfat:file { getattr open read };
allow rfs_access unlabeled:file { read open getattr };
allow rfs_access unlabeled:file { write };
